<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-time Dashboard</title>
    <link rel="stylesheet" href=".././public/style.css" />
    <%- include("./style.ejs") %>
  </head>
  <body>
    <div class="navbar">
      <img src="<%= user.profileImage %>" />
      <h2><%= user.name %></h2>
      <a href="/app/group">Groups</a>
      <a href="/app/logout">Log Out</a>
    </div>
    <div id="dashboard" style="height: 91vh">
      <div id="user-search">
        <% if(!locals.groups) { %>
        <form action="/user/search" method="post">
          <input type="text" id="user" value="<%= locals.value ? value : "" %>"
          name="userName" placeholder="Search...." />
          <button id="btn" type="submit">Search</button>
        </form>
        <% } %>
        <ul id="users">
          <% if(locals.groups) { %> 
           <div id="createGroup"> <a href="/app/create-group">Create Groups</a></div>
              <% groups.forEach(group => { %>
              <li id="<%= group._id %>" class="list" data-group="group">
                  <img src="<%= group.profileImage %>" />
                  <span><%= group.name %></span>
              </li>
              <% }) %>
              <!-- Show joining groups -->
              <% joiningGroups.forEach(group => { %>
                <li id="<%= group.group_id._id %>" class="list" data-group="group">
                    <img src="<%= group.group_id.profileImage %>" />
                    <span><%= group.group_id.name %></span>
                </li>
                <% }) %>
          <% } else { %>
            <% users.forEach(user => { %>
              <li id="<%= user._id %>" class="list">
                  <img src="<%= user.profileImage %>" />
                  <span><%= user.name %></span>
                  <% if(user.userStatus == "Online") { %>
                  <sub
                    id="<%= user._id+"-status" %>"
                    style="margin-top: -10px; margin-left: 5px; color: green"
                    ><%= user.userStatus %></sub
                  >
                  <% } else { %>
                  <sub
                    id="<%= user._id+"-status" %>"
                    style="margin-top: -10px; margin-left: 5px; color: red"
                    ><%= user.userStatus %></sub
                  >
                  <% } %>
              </li>
              <% }) %>
            <% } %> 
        </ul>
      </div>
      <div id="content">
        
      </div>
    </div>

    <!-- Delete chat model  -->
    <div class="deleteChatModel" id="modal">
      <div class="modal-content">
        <span id="close">&times;</span>
        <button id="deleteBtn" style="padding: 5px 10px;">Delete</button>
        
      </div>
    </div>

        <!-- Show Group Members model  -->
        <div class="Group-Members" id="showMembers">
        </div>   

        <!-- Add Members -->
        <form action="" id="add-member-form" name="member-form">
        </form>

  <!-- Front-end socket handle -->
  <%- include("./clientSocket.ejs") %>
</html>
